<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <title>{{ title }} | Marketing program for minority-owned businesses in Yolo County | Indie Yolo</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/png" href="/assets/img/favicon.png"/>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script>
(function(f,u,n,r,a,i,s,e){var data={window:window,document:document,tag:"script",data:"funraise",orgId:f,uri:u,common:n,client:r,script:a};var scripts;var funraiseScript;data.window[data.data]=data.window[data.data]||[];if(data.window[data.data].scriptIsLoading||data.window[data.data].scriptIsLoaded)return;data.window[data.data].loading=true;data.window[data.data].push("init",data);scripts=data.document.getElementsByTagName(data.tag)[0];funraiseScript=data.document.createElement(data.tag);funraiseScript.async=true;funraiseScript.src=data.uri+data.common+data.script+"?orgId="+data.orgId;scripts.parentNode.insertBefore(funraiseScript,scripts)})('c3667d79-2eaf-42cc-9b3c-0fe947f16f53','https://assets.funraise.io','/widget/common/2.0','/widget/client','/inject-form.js');
</script>
<script>
    window.funraise.push('create', { form: 29467 }, {
        selector: '#fr-placed-form-container-29467',
        type: 'grow_contained',
    });
</script>

  </head>
  <body>
    <div class="pageWrapper">
      <header>
        <div class="container">
          <div class="branding">
            <img src="/assets/img/indie-yolo-logo.png" alt="Teal sillhouette of Yolo County, CA">
          <h1><a href="/">IndieYolo</a></h1>
          </div>
          <nav id="topnav">
            <div class="menu-toggle">Menu</div>
            <ul class="clg-menu" id="menu-main-navigation">
              <li><a href="/#about">About</a></li>
              <li><a href="/contact/#application">Application</a></li>
              <li><a href="/donate/">DONATE</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main>
        {{ content | safe }}
      </main>

      <footer>
        <div class="container">
          <p>
            Indie Yolo is a 501(c)3 Non-Profit
          </p>
          <p><a href="/corporation/">Corporate Information</a></p>
          <p><a href="/privacy/">Privacy Policy</a></p>
          <p>&#169; {% year %} IndieYolo</p>
        </div>
      </footer>
    </div>
    <script src="/js/main.js"></script>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
