<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | Indie Yolo</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="pageWrapper">
      <header>
        <div class="container">
          <h1><a href="/">Indie Yolo</a></h1>
          <nav id="topnav">
            <div class="menu-toggle">Menu</div>
            <ul class="clg-menu" id="menu-main-navigation">
              <li><a href="/#about">About</a></li>
              <li><a href="/contact/#application">Application</a></li>
              <li><a href="/donate/">DONATE</a></li>
              <li><a href="/contact/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main>
        {{ content | safe }}
      </main>

      <footer>
        <div class="container">
          <p>LBMP is a 501.3(c) Non-Profit (still to be set up)</p>
          <p><a href="/corporation/">Corporate Information</a></p>
          <p><a href="/privacy/">Privacy Policy</a></p>
          <p>&#169; {% year %} Indie Yolo</p>
        </div>
      </footer>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
