@use "../abstracts" as *;

@supports (display: grid) {
  .message {
    display: none;
  }
}
.message {
  background-color: $black;
  color: $white;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  text-align: center;
}
.primary {
  background-color: $primary;
  color:$white;
}
.secondary {
  background-color: $secondary;
}
.callout {
  background-color: $primary;
  text-align: center;
  width:fit-content;
  margin:0 auto;
  padding:1em 2em;
  p, a {
    color:$white;
    font-size:1.2rem;
  }
}