@use "../abstracts" as *;

@supports (display: grid) {
  .message {
    display: none;
  }
}
.message {
  background-color: $black;
  color: $white;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.center {
  text-align: center;
}
.primary {
  background-color: $primary;
  color:$white;
}
.secondary {
  background-color: $secondary;
}