@use "../abstracts" as *;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,300,400,600,700);

html,
body,
p,
ul li,
ol li {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  color: $text;
}
@media (min-width: 1300px) {
  html,
  body,
  p,
  ul li,
  ol li {
    font-size: 20px;
  }
}
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;
h1,
h2,
h3,
h4 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: $semiBold;
  line-height: 1.5;
  color: $black;
}
h2 {
  font-size: 2rem;
  text-align: center;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
p,
ul,
ol {
  margin: 1rem 0;
}
.bold {
  font-weight: $bold;
}
.footnote {
  font-style: italic;
  font-size: 0.6rem;
}
