$background: #fffefd;
$black: #000;
$white: #fff;
$gray: #b0ada5;
$text: #191918;
$primary: #fbf7ec;
$primaryShade: #e2ded4;
$primaryShade2: #b0ada5;
$secondary: #006bb7;
$accent: #ee1111;
// variables, mixins, maps
