/* ==========================================
	HOME PAGE STYLES - MOBILE FIRST
========================================== */
@use "../base" as *;
@use "../abstracts" as *;
@use "../layouts" as *;

.hero {
  background-color: $lightGray;
  min-height: 60vh;
  position: relative;
  .heroBlurb {
    position: absolute;
    top: 3%;
    left: 6%;
    width: 280px;
    h2 {
      text-align: left;
      font-size: 1.5rem;
    }
    .cta {
      a {
        display: block;
        margin: 6px;
        margin-left: 0;
        padding: 8px;
        background-color: $white;
        color: $black;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        font-size: 1.2rem;
      }
      a:hover {
        background-color: $darkGray;
      }
    }
  }
  @include respond-to("medium") {
    .heroBlurb {
      width: 600px;
      top: 12%;
      .cta {
        display: flex;
        a {
          font-size: 1rem;
          flex: 0 0 40%;
          padding: 4px 0;
        }
      }
    }
  }
  @include respond-to("large") {
    .heroBlurb {
      width: 650px;
    }
  }
}
.essentials {
  background-color: $darkGray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    flex: 1 1 30%;
    padding: 1rem 0;
    color: $white;
    text-align: center;
  }
}
.currentPrograms {
  text-align: center;
  font-weight: $semiBold;
  font-size: 1.4rem;
  span {
    text-decoration: underline;
    color: $red;
    font-size: 1.8rem;
  }
}
.for {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  > div {
    background-color: $darkGray;
    margin: 8px;
    padding: 12px 24px;
    border-radius: 8px;
  }
  @include respond-to("medium") {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    > div {
      flex: 0 0 30%;
      h4 {
        font-size: 1.1rem;
      }
    }
  }
}
.commitment {
  background-color: $lightGray;
  padding: 24px 0;
}
.notFor {
  width: 80%;
  padding: 12px;
  margin: 12px 0;
  h3,
  ul li {
    font-size: 90%;
  }
  ul li {
    font-style: italic;
  }
}
.start-more {
  margin-bottom: 40px;
  p {
    text-align: center;
    font-size: 1.1rem;
    font-weight: $semiBold;
  }
}
