/* ==========================================
	HOME PAGE STYLES - MOBILE FIRST
========================================== */
@use "../base" as *;
@use "../abstracts" as *;
@use "../layouts" as *;

details {
  margin-bottom: 12px;
  summary {
    font-weight: $semiBold;
  }
  p {
    margin-left: 1rem;
  }
}
.hero {
  min-height: 80vh;
  background-size: cover;
  background-position: center;
  .container {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  .heroBlurb {
    background-color: rgba($white, 0.8);
    border: 1px $white;
    padding: 1rem;
    border-radius: 12px;
    h2 {
      text-align: left;
      font-size: 1.5rem;
    }
    p {
      font-style: italic;
      margin:4px 0;
    }
    .cta {
      display: flex;
      flex-wrap:wrap;
      max-width:fit-content;
      a {
        display: block;
        margin: 6px;
        margin-left: 0;
        padding: 8px 24px;
        background-color: $accent;
        color: $white;
        text-align: center;
        border-radius: 8px;
        text-decoration: none;
        text-transform: uppercase;
      }
      a:hover {
        opacity:0.8;
      }
    }
  }
  @include respond-to("medium") {
    .hero {
      background-position: top left;
    }
    .heroBlurb {
      max-width: 60%;
      .cta {
        flex-wrap:nowrap;
        a {
          font-size:0.8rem;
        }
      }
    }
  }
  @include respond-to("large") {
    .container {
      padding: 0;
      padding-top: 1rem;
    }
  }
}
.essentials {
  background-color: $primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  div {
    flex: 1 1 30%;
    padding: 1rem 0;
    color: $white;
    text-align: center;
    border-right: 1px solid $white;
  }
  div:last-child {
    border: none;
  }
}
.independence {
  background-color: $secondary;
}
.currentPrograms {
  text-align: center;
  font-weight: $semiBold;
  font-size: 1.4rem;
  span {
    text-decoration: underline;
    color: $accent;
    font-size: 1.8rem;
  }
}
.for {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .box {
    background-color: $primary;
    margin: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    h2, h3, h4, p, li, a {
      color:$white;
    }
    h4 {
      text-align: center;
    }
    img {
      max-width:160px;
      margin:0.5rem auto 0;
    }
  }
}
@include respond-to("medium") {
  .for {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    .box {
      flex: 1 1 30%;
      display: flex;
      h4 {
        font-size: 1.1rem;
      }
    }
  }
}
.commitment {
  background-color: $secondary;
  .container {
    .image {
      margin-top:12px;
      border: 1px solid $black;
      img {
        width:100%;
        height: auto;
      }
    }
    .written {
      ul {
        padding-left:22px;
        li {
          margin-bottom:8px;
        }
      }
    }
  }
}
@include respond-to('medium') {
  .commitment {
    .container {
      .image {
        width:48%;
        float:right;
        margin-left:12px;
        max-width: 600px;
      }
      .written {
        ul {
          padding-left:28px;
        }
      }
    }
  }
}
@media (min-width:800px) {
  .commitment .container .written .callout {
    margin:0;
    }
  }
.notFor {
  .container {
    padding-top:0;
  }
  h3,
  ul li {
    font-size: 90%;
  }
  ul li {
    font-style: italic;
  }
}
.start-more {
  background-color: $primary;
  padding: 1rem;
  p {
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: $white;
    a {
      color: $white;
    }
  }
}
#about {
  background-color: $secondary;
}
