/* ==========================================
	MAIN LAYOUT
========================================== */
@use "../abstracts" as *;

.flexall .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
@include respond-to("medium") {
  .flexall .container {
    flex-direction: row;
    align-items: flex-start;
    > div {
      flex: 1 1 50%;
    }
  }
}
