/* ==========================================
	HEADER STYLES - MOBILE FIRST
========================================== */
@use "../abstracts" as *;
header {
  background-color: $darkGray;
  a {
    text-decoration: none;
    color: inherit;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
  }
  h1 {
    font-size: 2rem;
    padding: 0 3px;
    font-style: italic;
    text-align: center;
  }
  @include respond-to("narrow") {
    h1 {
      padding: 0 12px;
    }
  }
  @include respond-to("medium") {
    .container {
      display: flex;
      flex-direction: row;
    }
    h1 {
      text-align: left;
      font-size: 1.2rem;
      padding: 0;
      padding-left: 12px;
      width: 58%;
    }
    nav {
      width: 40%;
    }
  }
  @include respond-to("large") {
    h1 {
      padding-left: 0;
      font-size: 1.6rem;
    }
  }
}
