---
title: "Basic Business Marketing ~ Yolo"
layout: "base.njk"
---

<section class="hero">
  <div class="container">
    <div class="heroBlurb">
      <h2>
        A Six-Month Marketing Program<br />for Small, Local Businesses<br />in
        Yolo County, CA
      </h2>
      <p class="tagline">Funding Available for Minorities and Single Moms</p>
      <div class="cta">
        <a href="/contact/#grantApp">Apply for Program</a>
      </div>
    </div>
  </div>
</section>

<section class="essentials">
  <div>Funding Available</div>
  <div>Marketing Education</div>
  <div>Website Included</div>
</section>

{% for section in collections.home %} {{ section.templateContent | safe}} {%
endfor %}

<section id="projects" class="bggray">
  <div class="container">
    <h2>Past & Current Projects</h2>

    <p>
      Here are a couple examples of small, local business projects we've done.
    </p>
    <ul>
      <li><a href="https://tinyteethoftally.com/">Tiny Teeth of Tally</a></li>
      <li>
        <a href="https://www.garciascustomconcrete.com/"
          >Garcia's Custom Concrete</a
        >
      </li>
    </ul>
  </div>
</section>

<section id="about">
  <div class="container">
    <h2>About <em>Basic Business Marketing Yolo</em></h2>

    <p>
      <em>Basic Business Marketing ~ Yolo</em> is a non-profit organization.
      (Still to be set up)
    </p>

    <p>
      The Program was founded by and is run by Christine Golden, a retired,
      frontend web developer and long-time resident of Yolo County. Christine
      wants to contribute to the community - while continuing to do what she
      loves: writing code and empowering independent people. Learn more about
      Christine Golden at her
      <a href="https://clgolden.com" target="_blank">former business website</a
      >.
    </p>
  </div>
</section>

<section id="faqs" class="bggray">
  <div class="container">
    <h2>Frequently Asked Questions</h2>

    <details>
      <summary>What will my website look like?</summary>
      <p>
        Based on the principles of BMSU. If you confuse, you lose. Since this is
        a beginners program, we assume you'll need help with colors and a logo.
        Text logo, favicon
      </p>
    </details>
    <details>
      <summary>Will I be able to update the website myself?</summary>

      <p>
        We will be building a static website. Occasional updates like hours,
        testimonials, etc.
      </p>

      <p>
        There are many 'no-code' website solutions available now. Even so, they
        each have their own learning curve, and it's been my experience that
        busy business owners don't have the time or desire to learn them. So,
        they hire or assign someone to do it.
      </p>

      <p>
        In addition, the 'no-code' website builders require you to use their
        hosting service and forbid you to take your work anywhere else. In other
        words, you are renting a website from them. After just the 2nd month of
        this program, you will own your website and all its content.
      </p>

      <p>
        You'll need someone who knows HTML/CSS and other technical basics to
        make occasional updates to the site we're going to build. Many people
        want to learn how to code these days and I can help with that.
      </p>
      <p>
        Once this program is well-established, I will be offering paid
        apprenticehips to beginners as 'Technical Assistants.' They will be
        recieve on-the-job-training to help graduates of this program make
        updates at an affordable price.
      </p>
    </details>
    <details>
      <summary>Why won't we be using Facebook or Instagram?</summary>
      <p>
        In this program, we will not be using any of the Facebook social media
        products. The most practical reason is that social media is for
        socializing.
      </p>

      <p>
        Instead, we will be using Google My Business (GMB) and fundamental
        Search Engine Optimization (SEO) techniques. This approach reaches an
        audience who is more <em>ready to buy</em> your product or service.
      </p>
    </details>
    <details>
      <summary>What would this program cost on the open market?</summary>
      <p>The retail, for-profit cost of this program would be around $3000.</p>
    </details>
    <details>
      <summary>How much traffic will my website get?</summary>
      <p>
        More than zero... Cumulative improvement in organic search... Focus on
        5-10 keywords... Strong foundation... Good setup for more elaborate
        marketing methods.
      </p>
    </details>
    <details>
      <summary>How do I sponsor a local business?</summary>
      <p>
        Offering sponsorships at a reduced rate. See
        <a href="/donate/">separate page</a> for details.
      </p>
    </details>
    <details>
      <summary>
        Can I purchase the program at the retail rate of $3,000?
      </summary>
      <p>Yes! That will help pay for the program.</p>
    </details>
    <details>
      <summary>What if a competitor wants the program?</summary>
      <p>
        We will not accept a new business that directly competes with an
        existing program member.
      </p>
    </details>
  </div>
</section>

{% for section in collections.details %} {{ section.templateContent | safe}} {%
endfor %}
